body {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  height: 40px;
}

#timerSVG {
  position: relative;
  width: 150px;
  height: 150px;
  display: inline-block;
}

.timerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Outfit", sans-serif;
  font-size: 1.5em;
  color: #fdfdfd;
}

.timerLabelTop,
.timerLabelBottom {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Outfit", sans-serif;
  font-size: 0.7em;
  color: white;
  text-transform: uppercase;
}

.timerLabelTop {
  top: calc(53% - 40px);
}

.timerLabelBottom {
  top: calc(40% + 40px);
}

.donut-segment {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke-dasharray: 100 100;
  transition: stroke-dasharray 0.3s;
  fill: transparent;
}

.donut-mask {
  fill: transparent;
}

#container {
  width: 50%;
  margin: auto;
  margin-top: 5em;
  text-align: center;
}

#container h1 {
  color: white;
  font-family: "Outfit", sans-serif;
  font-size: 3em;
  margin: 0;
}

#container span {
  font-weight: 700;
  color: white;
}

#big-container {
  margin-top: 10%;
  text-align: center;
}

.button-container {
  display: inline-block;
  text-align: center;
}

button {
  font-family: "Outfit", sans-serif;
  color: white;
  width: 25em;
  height: 4.5em;
  border: 2px solid rgba(255, 255, 255, 0.48);
  background: rgba(255, 255, 255, 0.133);
  border-radius: 30px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: rgb(194, 18, 141);
  border-color: rgb(175, 16, 127);
}

#contatoreDomande {
  color: white;
  font-family: "Outfit", sans-serif;
  font-size: 1.7em;
  margin-top: 2em;
}

#contatoreDomande span {
  color: rgb(194, 18, 141);
  font-size: 1em;
}