body {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  width: 50%;
  margin: auto;
  display: ruby-text;
}

/* Parte superiore */
img {
  height: 40px;
  padding-bottom: 29%;
}

.headerBox {
  display: inline-block;
  width: 30%;
  height: 15%;
  vertical-align: top; /* Allinea verticalmente al top */
}

#hb2 {
  color: white;
  text-align: right;
  margin-left: 30%;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#hb2 #seconds {
  margin-top: 11%;
  font-size: 2em;
}

/* Parte centrale */
#container {
  width: 50%;
  margin: auto;
  margin-top: 5em;
  text-align: center;
}

/* H1 delle domande che  appariranno */
#container h1 {
  color: white;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  margin: 0;
}

/* <span> delle domande che  appariranno */
#container span {
  font-weight: 700;
  color: white;
}

#big-container {
  margin-top: 10%;
  text-align: center;
}

#button-container {
  display: inline-block;
  text-align: center;
  
}

button {
  font-family: "Outfit", sans-serif;
  color: white;
  width: 25em;
  height: 4.5em;
  border-top: 2px solid rgb(255, 255, 255);
  border-left: 2px solid rgb(255, 255, 255);
  border-right: 2px solid #ffffff7b;
  border-bottom: 2px solid #ffffff7b;
  background: rgba(255, 255, 255, 0.133);
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: rgb(194, 18, 141);
  border-top: 2px solid rgb(255, 255, 255);
  border-left: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(175, 16, 127);
  border-bottom: 2px solid rgb(175, 16, 127);
}

.button {
  display: inline-block;
  margin: 0 2% 4% 0;
  
}

#contatoreDomande {
  color: white;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.7em;
  margin-top: 2em;
}

#contatoreDomande span {
  color: rgb(194, 18, 141);
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
}

#next-button{
  margin: 5% auto;
  font-family: "Outfit", sans-serif;
  border: 1.5px solid white;
  border-radius: 0%;
  background: transparent;
  color: #ffffffb8;
  margin-top: 4%;
  font-weight: 600;
  box-shadow: 0px 0px 5px 2px #ffffff;
  cursor: pointer;

}

/* TIMER SVG */
#timerSVG {
  position: relative;
  width: 150px;
  height: 150px;
  display: inline-block;
}

.timerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Outfit", sans-serif;
  font-size: 1.5em;
  color: #fdfdfd;
}

.timerLabelTop, .timerLabelBottom {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Outfit", sans-serif;
  font-size: 0.7em;
  color: white;
  text-transform: uppercase;
}

.timerLabelTop {
  top: calc(53% - 40px);
}

.timerLabelBottom {
  top: calc(40% + 40px);
}

.donut-segment {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke-dasharray: 100 100;
  transition: stroke-dasharray 0.3s;
  fill: transparent;
}

.donut-mask {
  fill: transparent;
}